h1 {
    text-align: center;
    color: rebeccapurple;
}
h2, h3, th {
    color:rgb(239, 47, 168)
}
p, ul, .stands, .heads {
    color:rgb(131, 8, 73);
}
td {
    color: rgb(136, 74, 74);
}
img {
    border-radius: 50%;
    border: 2px solid #069536;
    text-align: center;
}
.images {
    text-align: center;
}
table, th, td {
    border:4px solid rgb(156, 8, 124);
}
* {
    background-color: pink;
    font-family: comic sans ms, Helvetica, sans-serif;
}
